body {
    margin: 0;
    padding: 0;
    color: #442C2E;
}

.ddiivv1 {
    width: 1000px;
    column-count: 3;
    column-gap: 1px;
    margin:auto;
}

.ddiivv2 {    
    display: inline-block;
    width: 300px;
    margin-bottom: 40px;
}

a {
    text-decoration: none;
}

/* 메인 소개글 스타일 시트 */
#main-overview {
    margin-top: 80px;
}

#main-overview h1 {
    font-size: 50px;
    font-weight: 800;
    padding-top: 50px;
}

#main-overview h4 {
    font-weight: 300;
    padding-top: 150px;
}

#main-overview a.btn {
    margin-top: 15px;
}

.breadcrumb {
    padding-top: 100px;
}

#my-artwork .artwork {
    padding: 10px !important;
}

/* 작품 리스트 스타일 시트 */
#auction-list,
#artwork-list {
    padding: 50px 0;
}

#auction-list .auction,
#artwork-list .artwork {
    text-align: center;
}

#auction-list .auction img,
#artwork-list .artwork img {
    width: 100%;
}

#auction-list .auction h4,
#artwork-list .artwork h4 {
    padding-top: 40px;
}

#auction-list .auction p,
#artwork-list .artwork p {
    padding-top: 10px;
}

/* 로그인 & 회원가입 스타일 시트 */
#register-form,
#login-form {
    border: 5px solid #442C2E;
    border-radius: 50px 0 50px 0;
    margin-top: 150px;
    padding: 30px;
}

/* 마이페이지 > 서브 메뉴 */
.sub-nav .nav-item.nav-link {
    color:#442C2E;
    background: #FEDBD0;
    margin-right: 10px;
    border: 1px solid #FEDBD0;
}

.sub-nav .nav-item.nav-link.active {
    color:#fff;
    background: #442C2E;
    border: 1px solid #442C2E;
}

/* 마이페이지 > 내 작품 스타일 시트 */
#my-artwork {
    margin-bottom: 300px;
}

#my-artwork .artwork {
    padding: 20px 40px;
    text-align: center;
}

#my-artwork .artwork img {
    width: 100px;
    height: 100px;
    margin: 20px 0;
}

/* 마이페이지 > 내 지갑 정보 스타일 시트 */
.card .table {
    padding: 0;
    margin: 0;
}

nav.bottom-pagination {
    display: inline-block;
}

/* 작품 리스트 > 작품 상세 정보 > 사용자 별 작품 조회 */
.work-list-item {
    display: block;
    border-bottom: 1px solid ;
    color: #aaa;
    padding: 10px;
}

.work-list-item:hover {
    text-decoration :none;
    background: #f7f7f7;
}

.work-list-item:hover h4 {
    color: #FEDBD0;
}

.work-list-item:hover p {
    color: #FEDBD0;
}

.work-list-item h4 {
    color: #442C2E;
    padding: 0;
    margin: 0;
}

.work-list-item p {
    padding: 0;
    margin: 0;
}
.semipolar-spinner, .semipolar-spinner * {
    box-sizing: border-box;
  }

  .semipolar-spinner {
    height: 65px;
    width: 65px;
    position: relative;
  }

  .semipolar-spinner .ring {
    border-radius: 50%;
    position: absolute;
    border: calc(65px * 0.05) solid transparent;
    border-top-color: #ff1d5e;
    border-left-color: #ff1d5e;
    animation: semipolar-spinner-animation 2s infinite;
  }

  .semipolar-spinner .ring:nth-child(1) {
    height: calc(65px - 65px * 0.2 * 0);
    width: calc(65px - 65px * 0.2 * 0);
    top: calc(65px * 0.1 * 0);
    left: calc(65px * 0.1 * 0);
    animation-delay: calc(2000ms * 0.1 * 4);
    z-index: 5;
  }

  .semipolar-spinner .ring:nth-child(2) {
    height: calc(65px - 65px * 0.2 * 1);
    width: calc(65px - 65px * 0.2 * 1);
    top: calc(65px * 0.1 * 1);
    left: calc(65px * 0.1 * 1);
    animation-delay: calc(2000ms * 0.1 * 3);
    z-index: 4;
  }

  .semipolar-spinner .ring:nth-child(3) {
    height: calc(65px - 65px * 0.2 * 2);
    width: calc(65px - 65px * 0.2 * 2);
    top: calc(65px * 0.1 * 2);
    left: calc(65px * 0.1 * 2);
    animation-delay: calc(2000ms * 0.1 * 2);
    z-index: 3;
  }

  .semipolar-spinner .ring:nth-child(4) {
    height: calc(65px - 65px * 0.2 * 3);
    width: calc(65px - 65px * 0.2 * 3);
    top: calc(65px * 0.1 * 3);
    left: calc(65px * 0.1 * 3);
    animation-delay: calc(2000ms * 0.1 * 1);
    z-index: 2;
  }

  .semipolar-spinner .ring:nth-child(5) {
    height: calc(65px - 65px * 0.2 * 4);
    width: calc(65px - 65px * 0.2 * 4);
    top: calc(65px * 0.1 * 4);
    left: calc(65px * 0.1 * 4);
    animation-delay: calc(2000ms * 0.1 * 0);
    z-index: 1;
  }

  @keyframes semipolar-spinner-animation {
    50% {
      transform: rotate(360deg) scale(0.7);
    }
  }
